.cover{
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.53);
    overflow-y: scroll;
    z-index: 1000;
    display: flex;  
    justify-content: center;
    align-items: center;
   
}
.model{
    position: relative;
}
.model-body{
    width: fit-content;
    height: fit-content;
}
.btn-close{
    position: absolute;
    top :55px;
    right: -15px;
    font-size: 3rem;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50%;
    color: rgb(158, 154, 154);
    box-shadow: 1px 2px 4px rgb(158, 154, 154); 
    cursor: pointer;
    &:hover{
        color: rgb(138, 134, 134);
    }
}