.breadcrumb{
    margin-top: 10px;
}
.product-content{
    margin-top: 20px;
}

.product-basic__top-brand{
    span{
        color: var(--primary);
    }
}
.product-name{
    font-weight: 400;
    margin: 5px 0;
    font-size: 2.5rem;
    line-height: 2.8rem;
}
.product__rate-basic{
    display: flex;
    margin-top: 10px;
    
}
.product__rate-basic-stars{
    position: relative;
    
}
.product__rate-basic-stars--yellow{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;

    svg{
        flex-shrink: 0;
    }
}
.product__rate-basic-star{
    height: 18px;
    width: 18px;
}
.product__rate-basic-view{
    padding: 0 10px;
    margin-right: 20px;
    position: relative;
    color: var(--text);
    opacity: 0.8;
    &::after{
        content: '';
        position: absolute;
        height: 12px;
        top : 3px;
        background-color: #777;
        width: 1px;
        right: -8px;
    }
}
.product-sold{
    color: var(--text);
    opacity: 0.8;
}

.price{
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}
.price-new {
    color: rgb(255, 66, 78);
    font-weight: 500;
}
.price-old{
    color: rgb(128, 128, 137);
    text-decoration: line-through;
    font-size: 1.4rem;
    margin: 0 5px;
}
.percent-promotion{
    padding: 2px;
    font-size: 1.4rem;
    border: 1px solid rgb(255, 66, 78);
    color: rgb(255, 66, 78);
    border-radius: 2px;
}
.colors{
    display: flex;
    margin-top: 15px;
}
.color-item{
    position: relative;
    display: flex;
    height: 60px;
    flex-shrink: 0;
    align-items: center;
    margin: 8px 10px 0 0 ;
    padding: 2px;
    width: 144px;
    background-color: rgb(242, 242, 242);

    &.active, &:hover {
        border: 1px solid rgb(13, 92, 182);
        border-radius: 4px;

        .check-color-icon{
            display: block;
        }
    }
    .check-color-icon{
        position: absolute;
        right: -1px;
        top: -1px;
        display: none;
    }
    span{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-transform: capitalize;
        margin-left: 20px;
    }

   
}
.color-item__img{
    border-radius: 3px;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.sizes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.size-item{
    min-width: 80px;
    position: relative;
    border: transparent;
    padding: 10px ;
    margin: 8px 10px 0px 0px;
    border-radius: 4px;
    text-transform: uppercase;
    &.active, &:hover {
        border: 1px solid rgb(13, 92, 182);
        border-radius: 4px;

        .check-size-icon{
            display: block;
        }
    }
    .check-size-icon{
        position: absolute;
        right: -1px;
        top: -1px;
        display: none;
    }
}


.quantity{
    margin-top: 30px;
}
.action{
    margin-top: 10px;
    display: flex;
}
.chat{
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 6px;
    
    p{
        font-size: 1.3rem;
        display: block;
    }
}
.btn-add{
    height: 50px;
}

.store-info{
    border-radius: 4px;
    box-shadow: rgb(242 242 242) 1px 1px 0px 0px inset, rgb(242 242 242) -1px -1px 0px 0px inset;
    border: 1px solid rgb(242 242 242) ;
    padding: 10px;
}
.store-title{
    display: flex;
    align-items: center;
  
}
.store-follow{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.store-name{
    margin-left: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
}
.avatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.follow-detail{
    text-align: center;
}
.follow-subtitle{
    font-size: 1.3rem;
    color:rgb(150, 144, 144) ;
}
.store-action{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.action-view{
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
    min-width: 120px;
    border: 1px solid var(--primary);
    background-color: #fff;
    color: var(--primary);
    cursor: pointer;
    justify-content: center;
    &:hover{
        background-color: rgb(242, 242, 242);
    }

}
.action-view ~ .action-view{
    margin-left: 10px;
}
.action-icon{
    width: 20px;
    height: 20px;
}
.insurance-item{
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 1.5rem;
    
}
.insurance-title{
    width: 130px;
    color: rgb(120, 120, 120);
    display: block;
}
.insurance-value{
    text-align: right;
}
.value-affirmation{
    display: flex;
    margin: 10px 0;
    img{
        height: 32px;
        width: 32px;
    }
    p {
        font-size: 1.3rem;
    }
}
.value-affirmation-item{
    text-align: center;
}