.home-wrapper{

    .home-top{
        height: 274px;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        margin-top: 20px;
}

}

.img-banner__top{
    height: 274px;
    /* width: 408px; */
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    
    width: 100%;
}

// price shock
.carousel-shock{
    border-radius: 4px;
    
}
.dealFlashIcon{
    width: 21px;
    animation: 0.8s linear 0s infinite hOKweE;
}
@keyframes hOKweE{
    50% {
        opacity: 0.3;
        transform: scale(1.3);
    }
}
.carousel-title__left{
    display: flex;
    align-items: center;
}
.countdown{

}
.more{
    color: var(--primary);
    font-size: 1.7rem;
}
.carousel-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}
.video-group{
    overflow: hidden;
    border-radius: 5px;
    width :100%;
    height :274px;
}
.video-astra{
    object-fit: cover;
    width :100%;
    height: 100%;
}

