.slick-slider{
    &:hover .slick-prev:before, &:hover .slick-next:before{
       opacity: 1;
    }
    .slick-next {
        right: 9px ;
    }
    .slick-prev {
        z-index: 3;
        left: 0 ;
    }
    .slick-prev:before , .slick-next:before{
        padding: 20px 5px;
        background: #888;
        border-radius: 3px;
    }
    .slick-dots {
        bottom: 5px;
    }
    .slick-dots li button:before{
    font-size: 0.9rem;
       color: rgba(255, 255, 255, 0.5);
       opacity: 1;
    }
    .slick-dots li.slick-active button:before{
        color: rgba(255, 255, 255);
        opacity: 1;
    }
}
.slick-dots li.slick-active {
    .dot-active-primary{
        background-color: var(--primary) !important ;
    }
}