.suggestions-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: red;
    display: block;
    background: rgb(245, 245, 250);
    border-radius: 4px 4px 0px 0px;
    padding: 10px;
}
.title-content{
    font-size: 2rem;
    font-weight: 400;
}
.suggestions-option__list{
    display: grid;
    margin-bottom: 4px;
    margin-top: 4px;
    overflow: auto;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 4px;
}
.suggestions-option__item-icon{
    width: 48px;
}
.suggestions-content{
  
}
.suggestions-option__item{
    border: 1px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    min-height: 78px;
    border-radius: 4px;
    padding: 4px 8px;

    &.active{
        border-color:var(--primary) ;
    }
}

.view-more{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    p {
        width: 200px;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid var(--primary);
        margin: 0 auto;
        color: var(--primary);
    }
    &:hover{
        opacity: 0.6;
    }
}
.suggestions-content__item{
    border-radius: 4px;
    transition: transform 0.1s ease-in-out;
    background-color: transparent;
    &:hover {
        background-color: var(--white);
        transform: scale(1.03); 
    }
}