.wrapper{
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid rgb(160, 155, 155);
    border-radius: 3px;
    overflow: hidden;
    user-select: none;
    button{
        outline: none;
        border: none;
        background-color: unset;
        padding: 5px 10px;
        font-size: 2rem;
        &:hover{
            background-color:  rgb(236, 236, 236);
            cursor: pointer;
        }
    }
    button:nth-child(1){
        border-right: 1px solid rgb(160, 155, 155); 
    }
    button:nth-child(n+2){
        border-left: 1px solid rgb(160, 155, 155);
    }

    .quantity{
        // padding: 5px 10px;
        text-align: center;
        width: 30px;
        box-sizing: border-box;
    }
}
