.wrapper{
    padding: 30px 0;
}
.title{
    font-size: 2rem;
    font-weight: 500;
}
.cart-content{
    margin-top: 20px;
    
}
.cart-header{
    
    padding: 15px 15px;
    background-color: #fcf6f6;
    border-radius: 5px;
    user-select: none;
}

.checkbox-container{
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 35px ;
    &:hover input ~ .checkmark{
        background-color: #2196F3;
    }
}
.check-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height:0;
    width:0;

    &:checked ~ .checkmark::after {
        display: block;
    }
    &:checked ~ .checkmark {
        background-color: #2196F3;
    }
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border: 1px solid rgb(209, 206, 206);
  border-radius: 5px;
  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.btn_remove-selected{
    cursor: pointer;
    color: rgb(116, 113, 113);
    
    &:hover{
        opacity: 0.8;
    }
}

.cart-seller{
    background-color: #fcf6f6;
    border-radius: 5px;
    padding: 15px 15px;
    margin-top: 20px;
}

.seller-head{
    display: flex;
    user-select: none;
    background-color: #fcf6f6;
}

.seller-link{
    display: flex;
    align-items: center;
}
.seller-name{
    
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 5px;
}
.seller-icon{
    font-size: 1.4rem;
    color: #b1b1b6;
}
.product-list{
    margin-top: 20px;
}
.product-item{
    display: flex;
    font-size: 1.3rem;
    margin-top: 25px;
}
.product-item__left{
    display: flex;
}
.product-item__right , .right_body-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    min-width: 100px;
    text-align: left;
    margin-right: 10px;
}
.product-link{
    display: flex;
}
.product_name-group{
    width: calc(100% - 100px);
    padding-left: 10px;
    position: relative;

}
.product-name{
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    line-height: 20px;
    overflow: hidden;
}
.product-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.sub-name__icon{
    display: flex;
    color: #29a453;
    align-items: center;
    text-transform: uppercase;

    p{
        margin-left: 4px;
    }
}
.into-money{
    color: red;
    font-weight: 500;
    min-width: 100px
}
.left-cart_container{
   
    border-radius: 5px;
    background-color: #fcf6f6;
    padding: 15px;
    margin-bottom: 10px;
}
.btn-buy{
    margin: 0 auto;
    width: 100%;
}
.money-item{
    
    display: flex;
    justify-content: space-between;
}
.group-action__cart-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
@media (max-width: 1013px) {
    .product-item__left{
        .cart-header_item{
            display: block;
            flex: 1;
        }
    }
    .product-item__right{
        .cart-header_item{
            display: none;
        }
    }
    .right_body-cart{
        display : block;
        margin-left: 125px;
        .into-money{
            display: none;
        }
        
        .price{
            margin-top: -10px;
            text-align: left;
            color : red;
            font-weight: 500;
        }
        .group-action__cart-item{
            margin-top: 10px;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
    .cart-right{
       position: fixed;
       width: 100%;
       background-color: var(--white);
       z-index: 10;
       bottom: 0;
    }
}