.header{
    --search-bar: 746px;
    --btn-search :120px;
    color: var(--white);
    height: var(--header-height);
    background-color: var(--primary);
    z-index: 999;
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.header-right{
    display: flex;
}
.logo{
    width: 60px;
    height: 40px;
    display: block;
    
    img{
        height: 100%;
        width: 100%;
    }
}

.actions{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    .account{
        display: flex;
        align-items: center;
        min-width: 162px;
        margin: 0 20px;

        &.account--login{
            .login-form{
                display: block;
            }
        }
    }
    .account-icon, .cart-icon{
        font-size: 2rem;
        margin: 0 5px;
    }
    .name{
        text-transform: capitalize;
    }
    .sort-down{
        margin: 0 0 7px 5px;
        font-size: 1.3rem;
    }

    .cart{
        position: relative;

        .quantity{
            color: var(--black);
            position: absolute;
            font-size: 1.2rem;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0;
            height: 0;
            top : -10px;
            right: 25px;
            border-radius: 50%;
            background-color: rgb(253, 216, 53);
        }
    }
    .login-form{
        display: none;
    }
  
  
}
